body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

/* Carrusel de imágenes */
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    align-items: center;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

/* Ajustes responsivos */
@media only screen and (max-width: 2000px) {
    body {
        overflow: scroll;
        width: 100%;
    }
}

}
