/* Styling for tips header */
.tips-header {
    text-align: left;  /* Aligning text to the left */
    text-indent: 40px; /* Adding an indentation */
    border-bottom: solid black 1px; /* Adding a solid border at the bottom */
    padding-bottom: 5px; /* Adding padding at the bottom */
    margin-top: 5px; /* Adding margin at the top */
    font-family: 'Arial', sans-serif; /* Setting font family */
    background-color: white; /* Setting background color */
    color: black; /* Setting text color */
}

/* Styling for tips card container */
.tips-card {
    border: 5px solid #86a595; /* Adding a solid border */
    border-radius: 10px; /* Adding border radius */
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1); /* Adding box shadow */
    margin: 10px; /* Adding margin */
    text-align: center; /* Aligning text to the center */
    width: 30%; /* Setting width */
    display: inline-block; /* Displaying as inline-block */
    background: white; /* Setting background color */
    font-family: 'Arial', sans-serif; /* Setting font family */
  }
/* Styling for list items within tips card */
.tips-card li {
    text-align: left; /* Aligning text to the left */
    font-weight: bold; /* Setting font weight to bold */
}