.favourites-page .img-wrapper {
    width: 200px;
    /* fixed width */
    height: 200px;
    /* fixed height to maintain uniformity */
    position: relative;
    overflow: hidden;
    /* ensures excess parts of the image are not visible */
    margin: auto;
    border-radius: 15px;
    /* subtle rounded corners */
}

.favourites-page .img-wrapper img {
    width: 100%;
    /* ensures the image at least fills the width */
    height: 100%;
    /* ensures the image at least fills the height */
    object-fit: contain;
    /* covers the area, maintaining aspect ratio, cropping as necessary */
    object-position: center;
    /* centers the image in the container */
}

.favourites-page {
    background-color: white;
    margin-top: -150px;
    width: 100%;
    padding: 50px;
    padding-right: 80px;
    border-radius: 70px;
}