.favourites-page ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Removes default margin */
}

.favourites-page li {
    flex: 1 0 50%; /* Ensure each item takes up 50% of the container's width */
    box-sizing: border-box;
    padding: 10px; /* Provides spacing between items */
}


.favourites-page .img-wrapper {
    width: 200px;
    /* fixed width */
    height: 200px;
    /* fixed height to maintain uniformity */
    position: relative;
    overflow: hidden;
    /* ensures excess parts of the image are not visible */
    margin: auto;
    border-radius: 15px;
    /* subtle rounded corners */
}

.favourites-page .img-wrapper img {
    width: 100%;
    /* ensures the image at least fills the width */
    height: 100%;
    /* ensures the image at least fills the height */
    object-fit: cover;
    /* covers the area, maintaining aspect ratio, cropping as necessary */
    object-position: center;
    /* centers the image in the container */
}

.favourites-page {
    background-color: white;
    margin-top: -150px;
    width: 100%;
    padding: 50px;
    padding-right: 80px;
    border-radius: 70px;
}