/* Defines a class for a container with a white background and a flex layout*/
.sora1 {
    background-color: white; /* Sets the background colour to white */
    display: flex; /* Establishes a flex container for flexible boy layout */
}
/* Targets a container meant for text, enabling it to expand as needed within the flex container */
.text-container {
    flex-grow: 1; /* Allows the container to grow to fill available space */
     text-align: left; /* Aligns text to the right */ 
     padding-left: 20px; /* Adds a left padding to separate text from the container edge */
}
/* Similar to .text-container byt aligns text to the right and adds padding on the right */
.text-container2 {
    flex-grow: 1; /* Allows the container to grow to fill available space */
    text-align: right; /* Aligns text to the right */
    padding-right: 20px; /* Adds a right padding to separate text from the container edge */
}
/* Used for a text container with a specific font family, designed to expand as needed */
.stretch {
    flex-grow: 1; /* Allows the container to grow to fill any remaining space */
    font-family: 'Josefin Sans', sans-serif; /* Sets the font family to 'Josefin Sans' */
}
/* Styling for a specific image with a defined width, height, and left padding */
.image1 {
    width: 500px; /* Sets the width of the image to 500px */
    height: 300px; /* Sets the height of the image to 300px */
    align-self: flex-start; /* Aligns the image to the start of the flex container */
    padding-left: 20px; /* Adds a left padding to separate the image from the container edge */
}
/* Similar to .image1, but with a defined width, height, and a right padding */
.image2 {
    width: 500px; /* Sets the width of the image to 500px */
    height: 300px; /* Sets the height of the image to 300px */
    align-self: flex-start; /* Aligns the image to the start of the flex container */
    padding-right: 20px; /* Adds a right padding to separate the image from the container edge */
}
/* Defines minimal height for an image with a large right margin to separate it visually from other elements */
.image3{
    width: 500px; /* Sets the wight of the image to 500px */
    height: 1px; /* Sets the height of the image to 1px */
    align-self: flex-start; /* Aligns the image to the start of the flex container */
    margin-right: 700px; /* Adds a large right margin */
}
