.search-page-results {

    margin-top: -160px;
}

.search-page-results>div {
    /* Assuming this is the direct parent div of .card elements */

    flex-wrap: wrap;
    justify-content: space-around;
    /* Adjusts the alignment of items */
    padding: 20px;
    gap: 30px;
    /* Increases spacing between cards */
}

.search-results-img-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

.search-results-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.search-results-card {
    flex: 1 1 calc(50% - 40px);
    /* Adjusting width for wider cards and increased space between them */
    background: #fff;
    opacity: 0.95;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* Space below each card */
}

.ssss {
    color: black;
}