* {
    box-sizing: border-box;
    /* Ensures padding and borders are included in the total width and height */
    color: black;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.rrrr {
    display: flex;
}

.recent-recipe-page {
    margin-top: -160px;
}

.recent-recipe-page>div {
    /* Assuming this is the direct parent div of .card elements */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Adjusts the alignment of items */
    padding: 20px;
    gap: 30px;
    /* Increases spacing between cards */
}

.cardrrp {
    flex: 1 1 calc(50% - 40px);
    /* Adjusting width for wider cards and increased space between them */
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* Space below each card */
}

.img-wrapperrrp {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

.img-wrapperrrp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}




.recent-recipe-page .card:hover {
    transform: translateY(-5px);
    /* Lift effect on hover */
}

.recent-recipe-page h2,
.recent-recipe-page p {
    padding: 0 15px;
    /* Padding for text inside cards */
}

.recent-recipe-page h2 {
    margin-top: 10px;
    font-size: 1.25rem;
    /* Title font size */
}

.recent-recipe-page p {
    font-size: 0.9rem;
    color: #666;
    /* Lighter text color */
}