body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: #ffffff;
    padding-top: 60px;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    /* Adjust the gap as needed */
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 350px;
    /* Adjust the width of images as needed */
    height: auto;
    /* Maintain aspect ratio */
}

@media only screen and (max-width: 1350px) {
    body {
        overflow: scroll;
        padding-top: 200px;
        width: 100%;
    }
}