body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: #ffffff;
    padding-top: 60px;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    width: 100%; /* Add this line */
}

.image-item {
    text-align: center;
    width: calc(33.33% - 100px);
}

.image-item img {
    width: 150%; /* Adjust this line */
    height: auto;
}