body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    padding-top: 160px;
    /* background-image: url('./src/assets/pexels-photo-1660030.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% auto;   */
     background-color: #d9d9d9; 
}


.image-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
  

    justify-content: center;
    gap: 10px;
    gap: 10px;
    /* Adjust the gap as needed */
}

.image-item {
    text-align: center;
    width: calc(33.33% - 100px);
}

.image-item img {
    width: 150%; /* Adjust this line */
    height: auto;
    /* Maintain aspect ratio */
}

@media only screen and (max-width: 2000px) {
    body {
        overflow: scroll;
        /* padding-top: 200px; */
        /* padding-top: 200px; */
        width: 100%;
    }
    
}


.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* Adjust the gap as needed */
}


.recipe-card {
    max-width: 350px;
}


.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* Adjust the gap as needed */
}


.recipe-card {
    max-width: 350px;
}