.recipe-page {
    padding-top: 600px;
}

.recipe-page .img-wrapper {
    width: 300px; /* fixed width */
    height: 300px; /* fixed height to maintain uniformity */
    position: relative;
    overflow: hidden; /* ensures excess parts of the image are not visible */
    margin: auto;
    border-radius: 15px; /* subtle rounded corners */
}

.recipe-page .img-wrapper img {
    width: 100%; /* ensures the image at least fills the width */
    height: 100%; /* ensures the image at least fills the height */
    object-fit: cover; /* covers the area, maintaining aspect ratio, cropping as necessary */
    object-position: center; /* centers the image in the container */
}